.profile__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 73px 0 0;
  height: 100vh;
}

.profile__form-title {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  margin: 0;
}

.profile__inputs {
  max-width: 410px;
  margin: 123px 0 203px;
  border: none;
  width: 410px;
  padding: 0;
}

.profile__input-container {
  border-bottom: 1px solid #424242;
  margin-bottom: 17px;
}

.profile__input-container:last-child {
  border: none;
  margin-bottom: 0;
}

.profile__input-label {
  display: flex;
  align-items: center;
  font-size: 11px;
  font-weight: 500;
  white-space: nowrap;
}

.profile__input-field {
  width: 100%;
  color: white;
  background-color: transparent;
  border: none;
  outline: none;
  text-align: end;
  padding: 2px 0;
}

.profile__input-error {
  display: block;
  visibility: hidden;
  color: #ff3055;
  font-size: 10px;
  max-width: 100%;
  padding: 1px 0;
  height: 12px;
  text-align: end;
}

.profile__buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile__btn-edit {
  cursor: pointer;
  color: #FFF;
  font-size: 13px;
  background-color: transparent;
  border: none;
  padding: 0;
  margin-bottom: 16px;
  box-sizing: border-box;
  transition: opacity .2s linear;
}

.profile__btn-edit:hover {
  opacity: .7;
}

.profile__btn-logout {
  cursor: pointer;
  color: #EE3465;
  font-size: 13px;
  font-weight: 500;
  background-color: transparent;
  border: none;
  padding: 0;
  transition: opacity .2s linear;
}

.profile__btn-logout:hover {
  opacity: .7;
}

@media screen and (max-width: 768px) {
  .profile__container {
    margin-top: 229px;
  }

  .profile__inputs {
    margin: 96px 0 195px;
  }
}