.search-form {
  margin: 80px auto 10px;
  border-bottom: 1px solid #424242;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1280px;
  width: calc(100% - 140px);
}

.search-form__container {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 28px;
  box-sizing: border-box;
  width: 100%;
}

.search-form__input {
  border-radius: 8px;
  border: none;
  background-color: #2F2F2F;
  color: white;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  padding: 16px 20px;
  box-sizing: border-box;
  width: 100%;
  outline: none;
}

.search-form__submit-btn {
  cursor: pointer;
  border: none;
  width: 44px;
  height: 44px;
  background: url(../../images/find_btn.svg) no-repeat center / cover;
  transition: opacity .2s linear;
}

.search-form__submit-btn:hover {
  opacity: .8;
}

@media screen and (max-width: 768px) {
  .search-form {
    width: calc(100% - 60px);
    margin-top: 83px;
  }

  .search-form__container {
    max-width: 708px;
    margin-bottom: 37px;
  }

  .search-form__input {
    max-width: 654px;
  }
}

@media screen and (max-width: 425px) {
  .search-form {
    width: calc(100% - 28px);
  }

  .search-form__container {
    margin-bottom: 46px;
  }

  .search-form__input {
    max-width: 238px;
    padding: 13px;
  }
}