.techs {
  padding-top: 100px;
  background-color: #272727;
}

.techs__title {
  margin: 90px 0 26px;
  box-sizing: border-box;
  text-align: center;
  font-size: 50px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: -2px;
}

.techs__caption {
  margin: 0 auto;
  padding-bottom: 100px;
  box-sizing: border-box;
  max-width: 460px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42;
  letter-spacing: -.56px;
}

.techs__list {
  padding: 0 0 100px;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.techs__item {
  text-align: center;
  width: 90px;
  padding: 20px 0 21px;
  background-color: #303030;
  border-radius: 10px;
  list-style-type: none;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -.56px;
}

@media screen and (max-width: 768px) {
  .techs {
    padding-top: 90px;
  }

  .techs__title {
    margin: 80px 0 22px;
  }

  .techs__caption {
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: -0.48px;
    padding-bottom: 83px;
  }

  .techs__list {
    padding-bottom: 90px;
  }

  .techs__item {
    width: 84px;
    font-size: 12px;
    letter-spacing: -0.48px;
  }
}