.project-info {
  display: flex;
  gap: 50px;
  padding: 70px 0 110px;
  box-sizing: border-box;
}

.project-info__container {
  max-width: 550px;
}

.project-info__title {
  margin: 0 0 26px;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -.8px;
}

.project-info__caption {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42;
}

@media screen and (max-width: 768px) {
  .project-info {
    gap: 36px;
    padding-bottom: 93px;
  }

  .project-info__caption {
    font-size: 12px;
    line-height: 1.5;
  }

  .project-info__title {
    margin-bottom: 22px;
  }
}

@media screen and (max-width: 320px) {
  .project-info {
    flex-direction: column;
    padding: 60px 0;
    gap: 56px;
  }

  .project-info__container {
    max-width: 284px;
  }

  .project-info__title {
    font-size: 18px;
    letter-spacing: -0.72px;
    margin-bottom: 17px;
  }

  .project-info__caption {
    font-size: 11px;
    line-height: 1.45;
  }
}